@tailwind base;
@tailwind components;
@tailwind utilities;

.table-reponsive {
    max-height: calc(100vh - 250px);
}

/* width */
::-webkit-scrollbar {
    width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #c9c4c4;
    border-radius: 6px;
}

  